@{
    ViewData["Title"] = "Products";
}
<div class="card border-dark">
    <div class="card-header">
        <span class="font-weight-bold">Products</span>
        <span>
            <select id="ProductUsageSelect" multiple style="width: 30%"></select>
            <input type="number" class="form-control form-control-sm d-inline" style="width: 10%" placeholder="Usage Quantity"/>
            <button class="btn btn-primary btn-sm" type="button" onclick="Common.UseProduct(this)">
                <span>Use</span>
                </button>
        </span>
        <span class="float-right">
            <button class="btn btn-primary btn-sm" type="button" onclick="Common.OpenModal(this)" data-id="0" data-target="AddEditProduct">
                <span>New</span>
                </button>
        </span>
    </div>
    <div class="card-body ag-theme-alpine" id="productsdata">
    </div>
</div>
@await Html.PartialAsync("_AddEditProduct",new MahantInv.Core.SimpleAggregates.Product())
@section Scripts{
<script src="~/Products/index.js" type="text/javascript" asp-append-version="true"></script>
}
