<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mahant Inventory</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
</head>
<body style="background-image: linear-gradient(0deg, rgb(222 187 116), rgb(0 123 255 / 50%))">
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #064482">
        <a asp-area="" asp-controller="Product" asp-action="Index" class="navbar-brand text-white font-weight-bold" title="Mahant Inventory">MI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @await Html.PartialAsync("_Menu")
            @await Html.PartialAsync("_LoginPartial")

        </div>
    </nav>
    <div class="col-md-12 body-content" style="padding-top:5px;padding-bottom:5px;">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/moment/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/")';
        Array.prototype.uniquePush = function (item) {
    if (this.indexOf(item) == -1)
        this.push(item);
};

if (!String.prototype.supplant) {
    String.prototype.supplant = function (o) {
        return this.replace(/{([^{}]*)}/g,
            function (a, b) {
                var lst = b.split('.');
                $obj = o;
                for (var i = 0; i < (lst.length); i++) {
                    var r = $obj[lst[i]];
                    if (r === null || typeof r === "undefined") return "";
                    if (typeof r === 'object') {
                        $obj = r;
                    }
                    else {
                        return typeof r === 'string' || typeof r === 'number' ? r : a;
                    }
                }
            }
        );
    };
}
    </script>
    @await RenderSectionAsync("scripts", required: false).ConfigureAwait(false)
    <script src="~/lib/aggrid/ag-grid-enterprise.min.js"></script>

</body>
</html>
