<ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/Product/Index">Products</a>
                </li>
            </ul>